/*Universal Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    opacity: 0.9;
    color: seashell;
    text-align: center;
    
}

a {
    text-decoration: none; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*Header*/

header {
    display: flex;
    width: 100%;
    position: fixed;
    height: 69px;
    z-index: 1;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center;
}

header label, input {
    display: none;
}

header .logo img {
    height: 50px;
    width: auto;
    margin-left: 10px;
}

header nav {
    margin-left: auto;
}
nav span {
    margin-right: 10px;
}

nav span a {
    color: seashell;
}

/*Mission Section*/

#mission {
    height: 700px;
    background-image: url("../../../teacozy/images/img-mission-background.webp");
    padding-top: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#mission .content {
    margin: auto 0;
    background-color: black;
    align-items: center;
    opacity: 0.7;
}

#mission h2 {
    margin: 10px;
}

#mission h4 {
    margin: 10px;
}

/*Featured Teas Section*/

.gallery-wrapper {
    max-width: 1000px;
}

#store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

#store h2 {
    margin-bottom: 0.5em;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-item {
    margin: 20px 15px;
}

.image-item img {
    height: 200px;
    width: 300px;
}


/*Locations Section*/

#locations {
    background-image: url("../../../teacozy/images/img-locations-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
    display: flex;
    flex-direction: column;
    
}

/*Title of Locations section*/
#locations .top {
    font-family: "Great Vibes", cursive;
    font-size: 4rem;
    font-weight: 200;
    padding-bottom: 5%;
    padding-top: 3%;
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    
}

.location {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    opacity: 1.0;
    /*margin: 15px;*/
    margin: auto 40px;
    height: 250px;
    width: 300px;
    background-color: black; 
}

.location h3 {
    margin: 20px;
}

.location h5 {
    margin: 15px;
}



/*Contact Section*/
#contact {
    display: flex;
    flex-direction: column;
    height: 200px;  
}

#contact  h2 {
    margin-top: 12px;
    margin-bottom: 1em;
}

#contact  h5 {
    margin-bottom: .5em;
}

/*Footer Section*/
footer {
    text-align: left;
    margin-left: 20px;
    padding-bottom: .5em;
}

/*Mobile View*/
@media (max-width: 765px) {
    /*Header & Navigation*/
    header {
        display: block;
    }

    header .logo {
        position: relative;
        top: 10px;
    }

    header label {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 1.2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    header nav {
      margin: 0;  
    }

    header #toggle:not(:checked) + nav > span {
        display: none;
    }

    header #toggle:checked + nav > span {
        display: block;
        background: black;
        margin: 0;
    }

    /*Locations Section*/
    #locations {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        min-height: 100vh;
        border: 1px solid black;
    }

    #locations .flex-container {
        display: flex;
        height: auto;
        overflow: hidden;
        color: white;
    }

    #locations .flex-container .location  {
        position: relative;
        height: 100%;
        width: 40rem;
        overflow: hidden;
        background: black;
        flex-grow: 1;
        flex-basis: 0;
    }
}






























